/*  Fonts */
@font-face{

    font-family:"Raleway-regular";
    src:url(../fonts/Raleway-Regular.ttf)
}

@font-face{

    font-family:"Raleway-medium";
    src:url(../fonts/Raleway-Medium.ttf)
}

@font-face{

    font-family:"Raleway-bold";
    src:url(../fonts/Raleway-Bold.ttf)
}
@font-face{

    font-family:"Raleway-semibold";
    src:url(../fonts/Raleway-SemiBold.ttf)
}

@font-face{

    font-family:"Raleway-black";
    src:url(../fonts/Raleway-Black.ttf)
}



/*colors */


:root{
    --primary:#EEBF00;
    --secondary:#232B28;
    --ternary:#6c6c6c;
    --danger:#FE4545;
    --pure:#FEFEFE;
    --light:#F0F0F0;
    --heaven:#FFFFFF;
    --footer:#2D333F;
}


/* Reset */
*{padding:0;
    margin:0;
    box-sizing:border-box;
    
}

.container{

    width:100%;
    padding :0 15px;
    margin: 0 auto;
    }

   

body{

    -webkit-font-smoothing-settings: antialised;
}





.items-center{
align-items: center;

}


.aligncenter {
    text-align: center;
}

body {
    font-family: Hind;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}
body {
    color: #8a8a8a;
}
body {
    text-rendering: optimizeLegibility;
}

.items-center{
    align-items: center;
}

nav.top{
padding:1.5rem 0;

}
nav.top.contact h5,nav.top.time h5{

    font-family: "Raleway-black";
    margin-bottom: 0.25rem;
}

nav.top.contact h6,nav.top.time h6{

    font-family: "Raleway-medium";
    letter-spacing: 0.055rem;
    font-size: 0.75rem;
    color:var(--ternary);
}
nav.top.contact img,nav.top.time img{

    margin-right:1rem;

}

.justify-center{
justify-content: center;

}
nav.navbar a{
    text-decoration:none;
    color:var(--secondary);
    font-family:"Raleway-semibold" ;
    font-size: 1rem;
    padding:1rem 1.5rem;
   transition:all.3s ease;
   -webkit-transition:all.3s ease;
   -moz-transition:all.3s ease;
   -ms-transition:all.3s ease;
   -o-transition:all.3s ease;
}

nav.navbar a.active{

    background: var(--primary);
    color:var(--pure);
}

nav.navbar a:hover{
    background: var(--primary);
     color:var(--pure);
}
